table{
    thead{
        tr{
             user-select: none;
            th{
                align-items: center;
                img{
                    transform: rotate(-90deg);
                        height: 16px;
                


                }
            }
        }
    }
}