<div class="container-fluid">
  <div class="col-4 p-5">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="myFilter"
      placeholder="Search by first name"
    />
  </div>

  <table class="table table-hover ">
    <thead>
      <tr style="cursor: pointer;">
        <th  scope="col" (click)="sort('first_name')">First Name 
          
            <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
         </th>
        <th scope="col" (click)="sort('last_name')">Last Name
           <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('age')">Age
         <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('company_name')">Company Name
         <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('city')">City
         <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('state')">State
           <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('zip')">Zip
           <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('email')">Email
           <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
        <th scope="col" (click)="sort('web')">Web
          <img src="https://img.icons8.com/windows/32/000000/data-in-both-directions.png">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of pagedItems | filter: myFilter"
        (click)="viewUser(user)"
        style="cursor:pointer"
      >
        <td>
          {{ user.first_name }}
        </td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.company_name }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.state }}</td>
        <td>{{ user.zip }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.web }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <ul
      class="pagination mx-auto"
      *ngIf="pager.pages && pager.pages.length"
      style="cursor: pointer;"
    >
      <li [ngClass]="{ disabled: pager.currentPage === 1 }">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{ disabled: pager.currentPage === 1 }">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)"
          >&laquo;</a
        >
      </li>
      <li
        *ngFor="let page of pager.pages"
        [ngClass]="{ active: pager.currentPage === page }"
      >
        <a class="page-link" (click)="setPage(page)">{{ page }}</a>
      </li>

      <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)"
          >&raquo;</a
        >
      </li>
      <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
